@model IEnumerable<LeMinhNhat_WebBanHang.Models.Category>

@{
    ViewData["Title"] = "Danh mục sản phẩm";
}

<h1>Danh sách danh mục</h1>

<p>
    <a asp-action="Add" class="btn btn-success">Thêm danh mục mới</a>
</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th style="width: 200px;">Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-sm btn-info">Sửa</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>